:root {
  --primary: #0f172a;
  --secondary: #1e293b;
  --accent: #2563eb;
  --light: #f8fafc;
  --gray: #64748b;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", sans-serif;
}

body {
  background: var(--light);
  color: var(--primary);
  line-height: 1.6;
}

header {
  background: var(--primary);
  color: white;
  padding: 20px 10%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 1.5rem;
  font-weight: bold;
}

nav a {
  color: white;
  text-decoration: none;
  margin-left: 25px;
  font-weight: 500;
  transition: 0.3s;
}

nav a:hover,
nav a.active {
  color: var(--accent);
}

.hero {
  padding: 100px 10%;
  background: linear-gradient(to right, #0f172a, #1e3a8a);
  color: white;
}

.hero h1 {
  font-size: 2.8rem;
  margin-bottom: 20px;
}

.hero p {
  max-width: 600px;
  margin-bottom: 30px;
}

.btn {
  background: var(--accent);
  color: white;
  padding: 12px 25px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  transition: 0.3s;
}

.btn:hover {
  background: #1d4ed8;
}

section {
  padding: 80px 10%;
}

.section-title {
  text-align: center;
  margin-bottom: 50px;
  font-size: 2rem;
}

.services {
  display: grid;
  /* grid-template-columns: repeat(auto-fit, minmax(260px, 1fr)); */
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}

.card {
  background: white;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.05);
  transition: 0.3s;
}

.card:hover {
  transform: translateY(-8px);
}

.card h3 {
  margin-bottom: 15px;
  color: var(--accent);
}

.card p {
  color: var(--gray);
}

.about-content {
  max-width: 900px;
  margin: auto;
  text-align: center;
  color: var(--gray);
}

.contact-form {
  max-width: 600px;
  margin: auto;
  display: flex;
  flex-direction: column;
}

.contact-form input,
.contact-form textarea {
  padding: 12px;
  margin-bottom: 15px;
  border-radius: 5px;
  border: 1px solid #cbd5e1;
}

footer {
  background: var(--primary);
  color: white;
  text-align: center;
  padding: 20px;
  margin-top: 40px;
}

@media (max-width: 768px) {
  .hero h1 {
    font-size: 2rem;
  }
}
